h2 {
  border-bottom: 1px solid #1792d2;
  padding: 1em 0;
  margin-top: 0;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
}

.card {
  border-radius: 20px;
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
  padding: 1.5em;
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.9);
}

.card__image {
  max-width: 100%;
  border-radius: 0 20px 0 20px;
  margin: 0 1.2em 1em 0;
  object-fit: cover;
}

.card__date {
  font-weight: 700;
  color: #131516;
  margin: 0;
}

.card__content {
  text-align: center;
}

.card__body {
  text-align: justify;
  padding-top: 1em;
}

.fa-heart {
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
  user-select: none;
  outline: none;
}

.fa-heart:active {
  margin-top: 3px;
}

@media (min-width: 675px) {
  .card {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1.2em 4em;
  }

  .image__container {
    width: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
  }

  .card__image {
    max-width: 100%;
    object-fit: fill;
    align-items: center;
    justify-content: center;
    margin: auto 0;
  }

  .card__content {
    width: 45%;
  }
}
