.footer {
  width: 100%;
  padding: 1em 0;
  color: #fff;
  /* display: flex; */
  /* justify-content: flex-end; */
  font-weight: bold;
  /* position: relative; */
}

.footer .fa-heart {
  color: #a51808;
}

.footer p {
  float: right;
  padding-right: 2em;
}
