/* .footer {
  width: 100%;
  margin: 2em 0;
  color: #fff; */
/* display: flex;
  justify-content: flex-end; */
/* float: right;
  font-weight: bold;
  position: relative;
} */

/* .footer .fa-heart {
  color: #a51808;
} */
